
#table {
    background-color: whitesmoke;
    border-collapse: collapse;
}


.cell {
    border: 1px lightblue solid;
    min-width: 40px;
}

#table-head-line {
    min-width: 60px;
}

tr>th {
    min-width: 60px;
}

.room-number {
    background-color:lightblue;
    border: 1px blue solid;
    min-width: 80px;
}

.room-type {
    background-color: lightgray;
    border: 1px gray solid;
}

.floor {
    background-color:lightblue;
    border: 1px blue solid;
    min-width: 80px;
}
#table-head-line>th {
    font-size: 12px;
    background-color: lightskyblue;
}